*{
  margin: 0;
  box-shadow: 0;
  padding: 0
  ;
}
.header{
  height: 15vh;
  background-color:#fff;
}
.logo_container{
  width: 150px;
  height: 60px;
}
.logo_container img{
  width: 100%;
  height: 100%;
}
.main_component{
  position: relative;
  height: 75vh;
  width: 100%;
 
 
}
video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Set the text color to contrast with the background color */
}
.footer{
  height: 10vh;
  background-color: #fff;
}


